<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<main>
<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">My name is sharubaa and this is my <%=title%> .</p>
  <hr class="my-4">
  </p>
</div>
</main>
<body>

<div class="about container">
    <div class="colLeft">
        <div class="aboutImg">
            <img src="/Assets/images/book.png" alt="img" style="width: 500px; height: auto;" />
        </div>
    </div>
    <div>
        <h4> I like to read and I like to game in my spare time </h4>
    </div>
</div>

<div class="about container">
    <div class="colLeft">
        <div class="bakingimg">
            <img src="/Assets/images/baking.webp" alt="img" style="width: 500px; height: auto;" />
        </div>
    </div>
    <div>
        <h4> I enjoy baking as a hobby!</h4> <!-- Add any text to describe your hobby -->
    </div>
</div>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>