<% include partials/header.ejs %>
<% include partials/main_nav.ejs%>

<main>
<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">My name is sharubaa and this is my <%=title%> .</p>
  <hr class="my-4">
  </p>
</div>
</main>
<body>

<section id="about">
  <div class="about container">
  <h2> This is me </h2>
    <div class="colLeft">
      <div class="homeImg">
        <img src="/Assets/images/img.jpeg" alt="img" style="width: 350px; height: auto;" />
      </div>
    </div>
  </div>
</section>
  
</body>
<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>