<% include partials/header.ejs %>
<% include partials/main_nav.ejs%>

<main>
<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">My name is sharubaa and this is my <%=title%> .</p>
  <hr class="my-4">
  </p>
</div>
</main>
<body>

<h4>Here's a little video about me. Can you find all the facts about me?</h4>

<video width="250" controls>
    <source src="/Assets/video/video.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
  
</body>
<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>